!!!
%html
  %head
    %title TestBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      #navigation
        = link_to 'Home', root_path
        |
        - if current_user
          = link_to 'Sign out', destroy_user_session_path, method: :delete
          |
          = link_to 'My articles', my_articles_path
          |
          = link_to 'New Article', new_article_path
          |
        - else
          = link_to 'Sign in', new_user_session_path
          |
          = link_to 'Sign up', new_user_registration_path
          |
        = link_to 'Statics', statics_path
      #content
        = yield
      #footer
